@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@200;300;400;600;700&family=Poppins:wght@100;200;300;400&display=swap');

:root{
    --green:rgb(108, 195, 220);
    --black:rgb(49, 49, 49);
    --gradient:linear-gradient(90deg, var(--green),var(--black));
}
*{
    font-family: 'poppins',sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    outline: none;
    border: none;
    text-transform: capitalize;
}
*::selection{
    background: var(--green);
    color: #fff;
}
html{
    font-size: 62.5%;
    overflow-x: hidden;
}
section{
    min-height: 100vh;
    padding: 0 9%;
    padding-top: 6.8rem;
    padding-bottom: 2rem;
}
#myBtn {
    display: none;
    position: fixed;
    bottom: 20px;
    left: 30px;
    z-index: 99;
    font-size: 26px;
    border: none;
    outline: none;
    font-family: 'Times New Roman', Times, serif;
    background-color: rgb(78, 206, 108);
    color: white;
    cursor: pointer;
    padding: 15px;
    border-radius: 50%;
    }
.heading{
    text-align: center;
    background: var(--gradient);
    color: transparent;
    -webkit-background-clip: text;
    background-clip: text;
    font-size: 4rem;
    text-transform: uppercase;
    padding: 1rem;
}
header{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background: #fff;
    padding: 2rem 9%;
    display: flex;
    align-items: center;
    box-shadow: 0 .1rem .5rem rgba(0, 0, 0, .1);
    justify-content: space-between;
    z-index: 1000;
}
header .logo{
    font-size: 2.5rem;
    color: var(--black);
}
header .logo span{
    color: var(--green);
}

header .navbar a{
    font-size: 1.7rem;
    margin-left: 2rem;
    color: var(--black);
    font-family: 'Times New Roman', Times, serif;
}

header .navbar a {
    display: inline-block;
    position: relative;
    color: #1a1c1d;
  }

header .navbar a:after {
    content: '';
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: var(--green);
    transform-origin: bottom right;
    transition: transform 0.35s ease-out;
    }

header .navbar a:hover:after {
    transform: scaleX(1);
    transform-origin: bottom left;
}

header .icon i{
    cursor: pointer;
    margin-left: .6rem;
    height: 5rem;
    line-height: 4.9rem;
    width: 5rem;
    text-align: center;
    font-size: 3.4rem;
    color: var(--black);
    border-radius: 50%;
    
}
header .icon #download{

    color: var(--green);
}
header .icon #menu-bars{
    display: none;
}
/*Onscroll Animation*/
.reveal{
    position: relative;
    transform: translateY(110px);
    opacity: 0;
    transition: 1s all ease;
  }
  
  .reveal.active{
    transform: translateY(0);
    opacity: 1;
  }
/*End  */
/*Home section*/
.home{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: 2rem;
    padding-top: 5rem;
}
.home .content{
    flex: 1 1 45rem;
    
}

.home .image{
    margin-top: 2rem;
    flex: 1 1 45rem;
}
.home .image img{
    width: 100%;
}
.home .content h3{
    color: var(--black);
    font-size: 5rem;
}
.home .content p{
    font-size: 2.3rem;
}
.btn{
    margin-top: 2rem;
    display: inline-block;
    font-size: 1.7rem;
    color: #fff;
    background: var(--green);
    border-bottom-left-radius: 2.5rem;
    border-top-right-radius: 2.5rem;
    cursor: pointer;
    padding: .8rem 3rem;
}
.btn:hover{
    border-radius: 2.5rem;
    transition: .3s;
    color: var(--black);
}

.about .column{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}
.about .column .image{
    flex: 1 1 40rem;
}
.about .column .image img{
    width: 100%;
}
.about .column .content{
    flex:1 1 40rem;
}
.about .column .content p{
    font-size: 2rem;
}

.features .box-container{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}

.features .box-container .box{
    flex: 1 1 30rem;
    background: #fff;
    border-radius: .5rem;
    border: .1rem solid rgba(0, 0, 0, .2);
    box-shadow: 0 .5rem 1rem rgba(0, 0, 0, .1);
    margin: 1.5rem;
    padding: 3rem 2rem;
    border-radius: .5rem;
    text-align: center;
    transition: .2s linear;
}
.features .box-container .box img{
    height: 15rem;
}

.features .box-container .box h3{
    font-size: 2.5rem;
    color: #333;
    padding-top: 1rem;
}
.features .box-container .box p{
    font-size: 1.6rem;
    color: #666;
    padding-top: 1rem 0;
}

.pricing .box-container{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}

.pricing .box-container .box{
    background: #fff;
    margin: 1rem;
    padding: 1rem;
    text-align: center;
    position: relative;
    border: .1rem solid rgba(0, 0, 0, .2);
    box-shadow: 0 .5rem 1rem rgba(0, 0, 0, .1);
    flex: 1 1 30rem;
    border-radius: .5rem;
}
.pricing .box-container .box:hover{
    border: .1rem solid var(--light-blue);
}
.pricing .box-container .box h3{
    font-size: 3rem;
    text-transform: uppercase;
}
.pricing .box-container .box .price{
    font-size: 2rem;
    padding: 1rem 0;
    color: var(--light-blue);
}
.pricing .box-container .box ul{
    padding: 1rem 0;
    list-style: none;
}
.pricing .box-container .box ul li{
    font-size: 1.7rem;
    padding: .5rem 0;
    
}
.pricing .box-container .box ul .fa-check{
    color: rgb(64, 221, 64);
    margin: 1rem;
}
.pricing .box-container .box ul .fa-times{
    color:tomato;
    margin: 1rem;
}

.features .select-box{
    text-align: center;
    font-size: 2rem;
    margin-top: 2rem;
    color: var(--black);   
}
.features .select-box .customer{
    background: var(--green);
    color: rgb(34, 33, 33);
}
.features .select-box a{
    background: #fff;
    color:black;
    border: .2rem solid var(--green);
    border-radius: 2rem;
}
.features .select-box a:hover{
    background: var(--green);
    color: rgb(31, 29, 29);
}

.features .customer-box{
    display:flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}
.features .customer-box .box{
    flex: 1 1 30rem;
    background: #fff;
    margin: 1.5rem;
    padding: 3rem 2rem;
    border-radius: .5rem;
    text-align: center;
    transition: .2s linear;
}
.features .customer-box .box img{
    height: 10rem;
}
.features .customer-box .box h3{
    font-size: 2.5rem;
    margin: 2rem;
}
.features .customer-box .box p{
    font-size: 1.7rem;
    margin: 2rem;
}
.features .captain-box{
    display: none;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}
.features .captain-box .box{
    flex: 1 1 30rem;
    background: #fff;
    margin: 1.5rem;
    padding: 3rem 2rem;
    border-radius: .5rem;
    text-align: center;
    transition: .2s linear;
}
.features .captain-box .box img{
    height: 10rem;
}
.features .captain-box .box h3{
    font-size: 2.5rem;
    margin: 2rem;
}
.features .captain-box .box p{
    font-size: 1.7rem;
    margin: 2rem;
}

.post-container{
    margin-top: 60px;
}
.post-container .post{
    width: 300px;
    background: #fff;
    box-shadow: 0 3px 5px rgba(0, 0, 0, .2);
    margin: 0 auto;
    padding-bottom: 20px;
}

.post-container .post .image img{
    height: 250px;
    width: 100%;
    object-fit: cover;
}
.post-container .post .content{
    padding: 0 20px;
}
.post-container .post .content .date{
    margin: 10px 0;
    font-size: 15px;
    color: #666;
}
.post-container .post .content .title{
    font-weight: 600;
    font-size: 22px;
    color: #333;
    text-transform: capitalize;
}
.post-container .post .content:hover .title{
    text-decoration: underline;
}
.post-container .post .content p{
    font-size: 14px;
    padding: 5px 0;
    color: #666;
}
.post-container .post .content .link{
    display: block;
    color: var(--green);
    margin-top: 10px;
    font-size: 14px;
}
.post-container .post .content .link:hover{
    color: #333;
}


.media .box-container{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}

.media .box-container .box{
    flex: 1 1 30rem;
    background: #fff;
    border-radius: .5rem;
    border: .1rem solid rgba(0, 0, 0, .2);
    box-shadow: 0 .5rem 1rem rgba(0, 0, 0, .1);
    margin: 1.5rem;
    padding: 3rem 2rem;
    border-radius: .5rem;
    text-align: center;
    transition: .2s linear;
}
.media .box-container .box img{
    height: 15rem;
}

.media .box-container .box h3{
    font-size: 1.7rem;
    color: #333;
    padding-top: 1rem;
}
.media .box-container .box p{
    font-size: 1.2rem;
    color: #666;
    padding-top: 1rem 0;
}

.contact{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    padding-bottom: 3rem;
}
.contact .image{
    flex: 1 1 40rem;
}
.contact .image img{
    width: 100%;
    padding: 2rem;
}
.contact form{
    flex: 1 1 40rem;
    padding: 2rem 3rem;
    border-radius: .5rem;
    background: #fff;
}

.contact form .heading{
    text-align: left;
    padding: 0;
    padding-bottom: 2rem;
}
.contact form .inputBox{
    position: relative;
}
.contact form .inputBox label{
    font-size: 1.5rem;
}
.contact form .inputBox input, .contact form .inputBox textarea{
    width: 100%;
    background: none;
    margin: 1.5rem 0;
    padding: .5rem 0;
    font-size: 1.7rem;
    border-bottom: .1rem solid rgba(0, 0, 0, .1);
    text-transform: none;
}
.contact form .inputBox textarea{
    resize: none;
    height: 13rem;
}




.footer{
    padding-top: 3rem;
    background: url("https://t4.ftcdn.net/jpg/03/10/37/25/360_F_310372527_QHGvFcWTuqalbHPabQTmNwJNEQlWeiKv.jpg");
    background-size: cover;
    background-position: center;
}
.footer .box-container{
    display: flex;
    flex-wrap: wrap;
}
.footer .box-container .box{
    flex: 1 1 25rem;
    margin: 2rem;
}
.footer .box-container .box h3{
    font-size: 2.5rem;
    padding: 1rem 0;
    color: rgb(28, 37, 37);
    text-decoration: underline;
    text-underline-offset: 1rem;
}
.footer .box-container .box p{
    font-size: 1.5rem;
    padding: .5rem 0;
    color: rgb(31, 25, 25);
}
.footer .box-container .box a{
    display: block;
    font-size: 1.5rem;
    padding: .5rem 0;
    color: rgb(31, 24, 24);
}
.footer .box-container .box a:hover{
    text-decoration: underline;
    color: rgb(46, 37, 37);
    
}

.footer .credit{
    font-size: 1.5rem;
    text-align: center;
}


















/*Media Query*/

@media (max-width:1200px){
    html{
        font-size: 55%;
    }
}
@media (max-width:781px){
    html{
        font-size: 40%;
    }
    header a.logo{
        font-size: 3.2rem;
    }
    header .icon #menu-bars{
        display: inline-block;
    }

    section{
        min-height: 62vh;
    }
    header .navbar{
        position: absolute;
        top: 100%;
        left: 0;
        width: 100%;
        background: var(--green);
        padding: 1rem 2rem;
        border-top: .1rem solid rgba(0, 0, 0, .1);
        box-shadow: 0 .5rem 1rem rgba(0, 0, 0, .1);
        text-align: center;
        clip-path: polygon(0 0,100% 0, 100% 0,0 0);
        transition: .3s;
    }
    header .navbar a{
        display: block;
        font-size: 2.7rem;
        padding: 1.7rem;
        margin-bottom: .4rem;
        color: #fff;
        
    }
    header .navbar a:hover{
        color: rgb(19, 18, 18);
    }
    header .navbar.active{
        clip-path: polygon(0 0,100% 0, 100% 100%,0 100%);
    }
    .about .column .content p{
        font-size: 2.5rem;
    }


}
@media (max-width:991px){
    .home .content{
        margin-top: 5rem;
    }
}
